{% extends "layout.html" %}
{% block titulo %}
Editar usuario
{% endblock %}
{% block content %}
<center>
<section class="fondo-config">
    <div class=" text-light">
        <div class="container-sm bg-dark opacity-cero-nueve top">
                    <div class="">         
                        <h3>Configuración</h3>
                        <br>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                    <img id="avatar" src="static/img/avatar/{{ current_user.id }}.svg" alt="Avatar" onerror='this.style.display = "none"' />
                    </div>

            <div>
                <p>Presiona en generar avatar, hasta encontrar el adecuado...</p>
                <div class="">  
                    
                    <form action="/generar_avatar" method="POST"> 
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">                      
                        {% if current_user.is_authenticated %}
                        <input type="hidden" name="id" value="{{ current_user.id }}">
                        {% endif %}    
                            <div class="">
                            <button class="btn btn-info col-6 color-overlay">Crear Avatar Aleatorio</button> 
                            </div>                      
                    </form>
                            
                </div>
                
                <center class="m-3"><p>Completa y edita datos de usuario.</p></center>
                <div class=""> 
                    <form action="/editar_usuario" method="POST"> 
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">                      
                        {% if current_user.is_authenticated %}
                        <input type="hidden" name="id" value="{{ current_user.id }}">
                        {% endif %}
                        <div class="d-flex justify-content-center align-items-center">
                            <button class="btn btn-success col-6 ">Editar datos de usuario</button> 
                            <br>
                            <br>
                        </div>                      
                    </form>   
                    <br>  
                        
                </div>
            </div>
        </div>
            <br>
        <div class="container-sm bg-dark top" style="opacity: 0.9;">
            <br>
            <br>
            {% if current_user.is_authenticated %}
            <p>Nombre de usuario:  {{ current_user.username }} </p>
            <p>Tipo de usuario:  {{ current_user.tipo }} </p>                

            {% endif %}
            <br>
            <br>
        </div>
    </div>
</center>
</section>
{% endblock %}