{% extends 'layout.html' %}
{% block titulo %} Principal {% endblock %}

{% block content %}
    
    
    
        
    <center> 
                   
       
	    <section class="top">
            <div class="col-wh">
            <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
            
                <div class="carousel-inner">
                  <div class="carousel-item active c-item">
                    <img src="/static/img/slider/pexels-photo-1552242.webp" class="d-block w-100 c-img miImagen" alt="Slide 1">
                    <div class="carousel-caption top-0 mt-4">
                      <p class="mt-1 fs-3 text-uppercase">Rutinias - Ejercicios</p>
                      {% if current_user.is_authenticated %}
                      {% else %}
                      <a href="/login"><button class="btn btn-primary px-4 py-2 fs-5 mt-1">Login</button></a>
                      {% endif %}  
                    </div>
                  </div>
                  <div class="carousel-item c-item">
                    <img src="/static/img/slider/pexels-photo-6823368.jpeg" class="d-block w-100 c-img" alt="Slide 2">
                    <div class="carousel-caption top-0 mt-4">
                      <p class="text-uppercase fs-3 mt-1">Alimentacion saludable</p>
                      {% if current_user.is_authenticated %}
                      {% else %}
                      <a href="/login"><button class="btn btn-primary px-4 py-2 fs-5 mt-1">Login</button></a>
                      {% endif %} 
                    </div>
                  </div>
                  <div class="carousel-item c-item">
                    <img src="/static/img/slider/pexels-photo-7991666.jpeg" class="d-block w-100 c-img" alt="Slide 3">
                    <div class="carousel-caption top-0 mt-4">
                      <p class="text-uppercase fs-3 mt-1">personal trainer</p>
                      {% if current_user.is_authenticated %}
                      {% else %}
                      <a href="/login"><button class="btn btn-primary px-4 py-2 fs-5 mt-1">Login</button></a>
                      {% endif %} 
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <section class="felx-index" id="felx-index">
                
                <div id="sl1">
                    
                </div>
                <div id="sl2" class="text">
                    <p><br> Lorem Ipsum
                        <br>
                        <br>
                        "Neque poro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                        "No hay nadie que ame el dolor mismo, que lo busque, lo encuentre y lo quiera, simplemente porque es el dolor."
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus nisl quis interdum maximus. Donec ac hendrerit lorem. Sed aliquam imperdiet sem, non gravida est pellentesque eget. Vivamus volutpat sodales faucibus. Pellentesque rutrum posuere ligula, vel accumsan nisi. Proin sollicitudin enim a congue cursus. Nunc et sollicitudin lorem.
                        
                        la et s vele, ultricies venenatis nisi. In aliquam justo sed rutrum tempus. Etiam sit amet faucibus nunc. Sed ut dapibus risus. Vivamus a luctus massa, ut convallis nulla. Nullam ut mi congue dolor pulvinar iaculis quis egestas nibh.</p>
                </div>
            </section>
            <section class="felx-index">
                
                <div id="sl3" class="text" text>
                    <p>Donec mauris ex, rhoncus id urna eu, pellentesque convallis libero. Quisque quis libero eu velit ornare blandit sed ut nisi. Cras feugiat dictum hendrerit. Nunc pulvinar sapien dolor, id rutrum velit pellentesque id. Morbi eleifend justo et nisi efficitur eleifend. Aliquam erat nibh, malesuada imperdiet tincidunt molestie, euismod vel neque. Donec efficitur odio eget erat consectetur, at mattis urna euismod. Aenean scelerisque neque eget lacus lacinia, lobortis sollicitudin turpis volutpat. Nulla bibendum lorem eget nibh viverra tempus. Pellentesque eleifend dolor ut leo efficitur, quis ornare erat blandit. Etiam sit amet laoreet magna, ac vehicula libero. Quisque velit dolor, condimentum in congue vel, bibendum ac magna. Morbi sed tincidunt purus. Etiam efficitur felis sit amet augue aliquet consequat. Maecenas ut erat orci. Curabitur eget venenatis odio.</p>
                </div>
                <div id="sl4">

                </div>
            </section>
            <section class="felx-index">
                <div id="sl5" class="text">
                    <p>Praesent hendrerit dui metus, eu mattis urna posuere mattis. Vestibulum eget tincidunt metus. Sed iaculis orci eu justo ultricies, vitae vehicula enim dictum. Integer dapibus, tortor eget pellentesque maximus, magna nisl sollicitudin eros, et tempor elit nulla vitae est. Phasellus ac lacinia tellus. Ut gravida nisl leo, at tristique sem condimentum vel. Aliquam erat volutpat. Pellentesque viverra tellus id tellus porta, ut convallis orci volutpat. Quisque sit amet eros nibh.

                        Sed id blandit odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ullamcorper mollis lorem rhoncus ullamcorper. Fusce scelerisque in ex vitae hendrerit. Sed tincidunt ut dui elementum posuere. Cras sit amet urna at augue ullamcorper consectetur. Integer viverra aliquam ultrices. Phasellus vitae ligula volutpat, elementum elit eget, tempor odio. Vivamus ipsum massa, auctor vitae tincidunt sit amet, auctor vel ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam enim ligula, euismod ac iaculis vitae, euismod vitae nunc.</p>
                </div>

            </section>
        </section>
    </center>  

    <script type="text/javascript">
		window.addEventListener("scroll", function(){
			var header = document.querySelector("header");
			header.classList.toggle("abajo",window.scrollY>0);
		})
	</script>
    
    
    {% endblock %}
    
