{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    
<div class="fondo-config">
    
<div class="container-sm bg-dark opacity-cero-nueve top">    
    <center>
    
        
            
            <div class="row  text-light">

                <div class="container-fluid">
                    <br>
                    <h3 class="text-center">Bienvenido</h3>
                </div>
                
                
                <form action="/login" id = "formLogin" method="POST" onsubmit="return validacion()">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <img class="m-3" src="{{ url_for('static', filename='img/logo_fit.png') }}" alt="" width="110" height="110">
                {% with messages = get_flashed_messages() %}

                {% if messages %}
                
                {% for message in messages %}
                <div class="alert alert-primary alert-dismissible" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}

                {% endwith %}

                    
                    <div class="">
                        <div class="">
                            <input id= "username" name="username" type="text" placeholder="Usuario" class="form-control  frm-wh">
                        </div>
                        <div class="">
                            <br>
                            <input id= "pass1" name="password" type="password" placeholder="Contraseña" class="form-control frm-wh">
                            <div id="error"></div>
                            <div class="input-link">
                                <br>
                                <a href="#" class="text-light">Has olvidado tu contraseña</a>
                                
                            </div>
                    </div>
                    <button type="submit" class="btn btn btn-primary m-3">Iniciar Sesión</button>
                </form>
                <br/>
                <br />
                <p class="text-light">No tienes una cuenta?<a href="{{ url_for('registro') }}" class="m-3">Crear cuenta</a></p>
                <br>
            </div>
 </div>

<script src="{{ url_for('static', filename='js/valLogin.js') }}"></script> 
</center> 

    
{% endblock %}