@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

label {
	display: block;
}

.opacity-cero-nueve {
    opacity: 0.9;
}
@media screen and (max-width: 600px) {
    .opacity-cero-nueve {
        opacity: 1;
    }
}
#spn {
    position: relative;
    left: 45vh;
    
}

li {
    list-style: none;
    text-decoration: none;    
}

.frm-wh {

    max-width: 60vh;
}
@media screen and (max-width: 750px) {
    .frm-wh {
        max-width: 95%;
        min-width: 90%;
    }
}


.margin-form {
    margin-left: 35%;
}
@media screen and (max-width: 800px) {
    .margin-form {
        margin-left: 5%;
    }
}

#bienvenido{
    position: relative;
    margin-left: 150%;
    top: -55px;
}

#tg {
    position: relative;
    top: -110px;
    left: 270%;
}
@media screen and (max-width: 800px) {
    #tg {
        left: 100%;
    }
}







div#error2 {
	height: 20px;
	width: 20px;
	display: inline-block;
	position: relative;
	top: 5px;
}

::-webkit-scrollbar { /*oculta el scroll*/
    display: none;
}

/* munu.html */
nav {
    background: #021222;
    height: 80px;
    position: relative;
}

.container-logo {
    margin-left: 20px;
    z-index: 100;
    cursor: pointer;
    position: relative;
    top: 3vh;
}
.container-logo h2 {
  color: #95bdd8;
  font-weight: 300;
  font-size: 35px;
  letter-spacing: 2px;
}
.container-logo h2 span {
    color: #0590ec;
    font-weight: 700;
}



.toggle {
    color: #d1faf4;
    margin-right: 20px;
    font-size: 30px;
    transform: rotate(90deg);
    cursor: pointer;
    transition:  .3s;
    display: none;
    
    
}

.rotate { /* la posicion en cascada de este elemento determina su funcinamiento */
    transform: rotate(180deg);
}

@media screen and (max-width: 800px) { /* al achicar la pantalla mas de 800 px se muestra el icono-menu */
    
    .hid {
        display: none;
    }
    
    .toggle {
        display: inline-block;
    }
    .links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #021222;
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 80px);
        width: 100%;
        z-index: 101; /*oculta menu alachicar la pantalla */
        top: -100vh; /* oculta el menu desplegable */
        transition: .3s;
    }
    .active {
        top: 80px;
    }

    .links .link:hover { /* fondo al menu desplegable, :hover para que qede al pasar el mouse  */
        background: #051c38;
    }
   

}

:root{
    /* colores a utilizar */
    --green: hsl(162, 45%, 56%);
    --lead: hsl(162, 2%, 56%);
    --blue: hsl(220, 85%, 57%);
    --violet: hsla(272, 91%, 32%, 0.164);
    /* color de texto */
    --text-while: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 90%);
    --body-bg-color: hsl(201, 61%, 23%); /* color del body */
    --glass-bg-color: hsla(0, 0%, 100%, 0.25);
    --border-color: hsla(0, 0%, 100%, 0.25);
    --blur: blur(10px); /* dar desenfoque gauciano a determinado elemento */
    --button_hover-color: hsla(0, 0%, 0%, 0.3); /* cambia color de boton al pasar cursor */
    --button_hover-color2: hsla(0, 26%, 95%, 0.3); /* cambia color de boton al pasar cursor */
}

/* estilos universales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#spn, #spn2, #spn3 {
    visibility: hidden;
    list-style: none;
    text-decoration: none;
    color: #d1faf4;
    font-size: 15px;
    margin: 0 25px;
    letter-spacing: 3px;
    position: absolute;
    top: .25em; right: 15%;   
}



#spn4 {
  
  background-color: #487abb4f;
  top: 0; right: 15em;
  
}
















