@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

label {
	display: block;
}

.opacity-cero-nueve {
    opacity: 0.9;
    min-height: 65vh;
       
}
@media screen and (max-width: 600px) {
    .opacity-cero-nueve {
        opacity: 1;
    }
}






li {
    list-style: none;
    text-decoration: none;    
}

.frm-wh {

    max-width: 60vh;
}
@media screen and (max-width: 750px) {
    .frm-wh {
        max-width: 95%;
        min-width: 90%;
    }
}


.margin-form {
    margin-left: 35%;
}
@media screen and (max-width: 800px) {
    .margin-form {
        margin-left: 5%;
    }
}

#bienvenido{
    position: relative;
    margin-left: 150%;
    top: -55px;
}

#tg {
    position: relative;
    top: -110px;
    left: 270%;
}
@media screen and (max-width: 800px) {
    #tg {
        left: 100%;
    }
}







div#error2 {
	height: 20px;
	width: 20px;
	display: inline-block;
	position: relative;
	top: 5px;
}

::-webkit-scrollbar { /*oculta el scroll*/
    display: none;
}


:root{
    /* colores a utilizar */
    --green: hsl(162, 45%, 56%);
    --lead: hsl(162, 2%, 56%);
    --blue: hsl(220, 85%, 57%);
    --violet: hsla(272, 91%, 32%, 0.164);
    /* color de texto */
    --text-while: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 90%);
    --body-bg-color: hsl(201, 61%, 23%); /* color del body */
    --glass-bg-color: hsla(0, 0%, 100%, 0.25);
    --border-color: hsla(0, 0%, 100%, 0.25);
    --blur: blur(10px); /* dar desenfoque gauciano a determinado elemento */
    --button_hover-color: hsla(0, 0%, 0%, 0.3); /* cambia color de boton al pasar cursor */
    --button_hover-color2: hsla(0, 26%, 95%, 0.3); /* cambia color de boton al pasar cursor */
}

/* estilos universales */






body{
    background-color: #21222c !important;
}

.top {
    position: relative;
    top: 13vh;
}













