

::placeholder{
  color: #d90429;
}

#avatar {  
  background-color: #487abb;
  width: 12em;
  height: 12em;
  border-radius:150px;
  border: #fff solid 1px;
}
  
  .text {
    padding: 5%;
  }

#felx-index{
  display: flex;
  flex-direction:column-reverse;
}

  


/*---------------fin sl-----------------------------*/

@media screen and (min-width: 800px) {
    

   
    
    
    /* index*/
    .felx-index {
      width: 90%;
      height: 400px;
      max-width: 95em; /*ancho maximio*/      
      padding-top: 2%;
      position: relative;
      top:  10px;
      box-shadow: 0 0 0 1px #fff,
      0 1px 1px; /*sombra*/      
    }

    /*-----------------*/
    .text {
      padding: 5%;
    }    


    /*------------------------fin-index------------------*/

    .form-input{
      width: 30em;
      
    }
    .fondo-config{
      min-height: 95vh; /* alto*/
      background-image: url(/static/img/1qRzZCp.jpg);
      background-repeat: no-repeat;
      background-size: cover; /*cubra toda el area*/
      background-position: center;
      background-attachment: fixed; /*siempre se muestre en todo el fondo*/
      z-index: 1;
    }
 
    

    
}

.toggle {
  display: inline-block;
  position: absolute;
  top: 15px; right: 40px;
 
}
  
