

::placeholder{
  color: #d90429;
}

#avatar {  
  background-color: #487abb;
  width: 12em;
  height: 12em;
  border-radius:150px;
  border: #fff solid 1px;
}

.container-toggle {
    
  margin:  auto;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  line-height: 55px;
  z-index: 100;
}



.caja-toggle {   
    display: inline-block;
    line-height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: left;
    line-height: 50px;
    padding-left: 5%;    
}

.text-toggle {
    list-style: none;
    text-decoration: none;
    color: #d1faf4;
     font-size: 20px;
     margin: 0 25px;
    letter-spacing: 3px;   
}

.material-icons {
    width: 30px;
    height: 30px; 
    position: relative;
    right: 1em;
    filter: invert(48%) sepia(10%) saturate(1000%) hue-rotate(86deg) brightness(118%) contrast(119%);
  }

 


  


   /*-------------------------slider--------------*/
   * {
    box-sizing: border-box;
  }
     
  
  .contenedor-slider {
    margin: auto;
    width: 100%;
    height: 180px;
     /*ancho maximio*/
    position: relative; /*para que se posicionen los botones */
    overflow: hidden; /* para que el contenido que salga no mse muestre */
    box-shadow: 0 0 0 1px #fff,
    0 1px 1px; /*sombra*/
    opacity: 0.7;
    
    
  }
  
  .slider {
    display: flex;
    width: 400%; /*400% porque son 4 imagenes */ 
  }
  
  .slider__section {
    width: 100%;
  }
  
  .slider__img {
    width: 100%;
    height: 100% !important; 
    
  }
  
  .btn-prev, .btn-next {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
    cursor: pointer;
  }
  
  /* cuando pase el mouse */
  .btn-prev:hover, .btn-next:hover {
    background: white;
  }
  
  .btn-prev {
    left: 10px;
  }
  
  .btn-next {
    right: 10px;
  }
  /* -------------------------fin slider-------------------------*/

  /*--------------sl----------------------------------*/
  .text {
    padding: 5%;
  }

#felx-index{
  display: flex;
  flex-direction:column-reverse;
}

  #sl1 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 200px;         
    padding-top: 2%;
    position: relative;
    
    box-shadow: 0 0 0 1px #fff,
    0 1px 1px; /*sombra*/
    min-height: 100%; /* alto*/
    background-image: url(/static/img/slider/montaña.jpeg);
    background-repeat: no-repeat;
    background-size: cover; /*cubra toda el area*/
    background-position-x: 70%;
    background-attachment: fixed; /*siempre se muestre en todo el fondo*/
    z-index: 1;  
    opacity: 0.8;
      
  }

  #sl2 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;    
    max-width: 95em; /*ancho maximio*/      
    padding-top: 2%;
    position: relative;
    top: 0px;
    left: 0%;
    box-shadow: 0 0 0 1px #fff,
    0 1px 1px; /*sombra*/
    background: #bfd896ab;
    text-align: center;     
  }

  #sl3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    max-width: 95em; /*ancho maximio*/       
    position: relative;
    
    z-index: 1;     
    background: #b86bd68c;
    margin: 1px solid #fff; 
    box-shadow: 0 0 0 1px #fff,
    0 1px 1px; /*sombra*/      
    display: flex;
    align-items: center;                
  }

  #sl4 {
    
    width: 100%;
    height: 200px;
    max-width: 95em; /*ancho maximio*/       
    position: relative;
    top: 0px;
    left: 0;
    z-index: 1;     
    background: #487abb;
    box-shadow: 0 0 0 1px #fff,
    0 1px 1px; /*sombra*/
    min-height: 100%; /* alto*/
    background-image: url(/static/img/slider/escalar_montanas.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*cubra toda el area*/
    background-position-x: -20em;
    background-attachment: fixed; /*siempre se muestre en todo el fondo*/      
    z-index: 1;    
    opacity: 0.8;   
  }

  #sl5 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 95em; /*ancho maximio*/       
    position: relative;
    top: 0px;
    left: 0%;
    z-index: 1;     
    background: #487abb;
    margin: 1px solid #fff; 
    box-shadow: 0 0 0 1px #fff,
    0 1px 1px; /*sombra*/    
    align-items: center;
    
    
  }
  


/*---------------fin sl-----------------------------*/

@media screen and (min-width: 800px) {
    
     #spn4 {
      visibility: hidden;
      background-color: #487abb;
      ;

    }
   
     .caja-toggle {
        line-height: 50px;
        
        
    }

    #spn, #spn2, #spn3 {
        visibility: visible;
    }

   
    .links {
        position: absolute;
        top: 40px; right: 40px;
        flex-direction: column;
        background: #021222;
        text-align: center;
        
        height: 350%;
        width: 30%;
        min-width: 22em;
        z-index: 101; /*oculta menu alachicar la pantalla */
        top: -100vh; /* oculta el menu desplegable */
        transition: .3s;
    }
    .active {
        top: 80px;
    }

    .links .link:hover { /* fondo al menu desplegable, :hover para que qede al pasar el mouse  */
        background: #051c38;
    }
    
    /* index*/
    .felx-index {
      width: 90%;
      height: 400px;
      max-width: 95em; /*ancho maximio*/      
      padding-top: 2%;
      position: relative;
      top:  10px;
      box-shadow: 0 0 0 1px #fff,
      0 1px 1px; /*sombra*/      
    }

    /*-----------------*/
    .text {
      padding: 5%;
    }

    #sl1 {
      width: 40%;
      height: 400px;     
      position: absolute;
      top: 0px;
      left: 60%;
      box-shadow: 0 0 0 1px #fff,
      0 1px 1px; /*sombra*/     
      background-position:center;
      
       
    }

   

    #sl1:hover{ 
      transition: 0.5s;
      opacity: 1;
      
       
    }

    #sl2 {
      width: 60%;
      height: 400px;
      max-width: 95em; /*ancho maximio*/      
      padding-top: 2%;
      position: absolute;
      top: 0px;
      left: 0;
      box-shadow: 0 0 0 1px #fff,
      0 1px 1px; /*sombra*/
      background: #bfd896ab;
      text-align: center;
      overflow: hidden;     
    }

    #sl3 {
      width: 60%;
      height: 100%;
      max-width: 95em; /*ancho maximio*/       
      position: absolute;
      top: 0px;
      left: 40%;
      z-index: 1;     
      background: #b86bd68c;
      margin: 1px solid #fff; 
      box-shadow: 0 0 0 1px #fff,
      0 1px 1px; /*sombra*/      
      display: flex;
      align-items: center;  
      overflow: hidden;              
    }

    #sl4 {
      width: 40%;
      height: 100%;
      max-width: 95em; /*ancho maximio*/       
      position: absolute;
      top: 0px;
      left: 0;
      z-index: 1;     
      background: #487abb;
      box-shadow: 0 0 0 1px #fff,
      0 1px 1px; /*sombra*/
      min-height: 100%; /* alto*/
      background-image: url(/static/img/slider/escalar_montanas.jpg);
      background-repeat: no-repeat;
      background-size: cover; /*cubra toda el area*/
      background-position-x: -20em;
      background-attachment: fixed; /*siempre se muestre en todo el fondo*/      
      z-index: 1;       
    }

    #sl4:hover{ 
      transition: 0.5s;
      opacity: 1;
      
       
    }
  
    #sl5 {
      width: 100%;
      height: 100%;
      max-width: 95em; /*ancho maximio*/       
      position: absolute;
      top: 0px;
      left: 0%;
      z-index: 1;     
      background: #487abb;
      margin: 1px solid #fff; 
      box-shadow: 0 0 0 1px #fff,
      0 1px 1px; /*sombra*/
      display: flex;
      align-items: center;
      overflow: hidden;
      
      
    }
    
    
    


    /*------------------------fin-index------------------*/

    .form-input{
      width: 30em;
      
    }
    .fondo-config{
      min-height: 70vh; /* alto*/
      background-image: url(/static/img/1qRzZCp.jpg);
      background-repeat: no-repeat;
      background-size: cover; /*cubra toda el area*/
      background-position: center;
      background-attachment: fixed; /*siempre se muestre en todo el fondo*/
      z-index: 1;
    }
 
    

    /*-------------------------slider--------------*/
    * {
      box-sizing: border-box;
    }
       
    
    .contenedor-slider {
      margin: auto;
      width: 90%;
      height: 300px;
      max-width: 95em; /*ancho maximio*/
      position: relative; /*para que se posicionen los botones */
      overflow: hidden; /* para que el contenido que salga no mse muestre */
      box-shadow: 0 0 0 1px #fff,
      0 1px 1px; /*sombra*/
      opacity: 0.7;
      
      
    }
    
    .slider {
      display: flex;
      width: 400%; /*400% porque son 4 imagenes */ 
    }
    
    .slider__section {
      width: 100%;
    }
    
    .slider__img {
      width: 100%;
      height: 90% !important;       
    }
    
    .btn-prev, .btn-next {
      width: 40px;
      height: 40px;
      background: rgba(255, 255, 255, 0.7);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      line-height: 40px;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      border-radius: 50%;
      font-family: monospace;
      cursor: pointer;
    }
    
    /* cuando pase el mouse */
    .btn-prev:hover, .btn-next:hover {
      background: white;
    }
    
    .btn-prev {
      left: 10px;
    }
    
    .btn-next {
      right: 10px;
    }
    /* -------------------------fin slider------------------------- */
    
}


.toggle {
  display: inline-block;
  position: absolute;
  top: 15px; right: 40px;
 
}
  
