
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    justify-content: space-around;
    transition: 0.7s;
    
    z-index: 100;
    background: #888a06;
    height: 8vh;
    
}
header.abajo{
    background: #888a06;
    
    top: 0vh;
    z-index: 100;
}

/*--------------------------------------------nav2--------------------*/
.c-item {
    height: 43vh;
    
  }
  
.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    
  }
.col-wh{
    width: 90%;
    max-width: 95em;
}

  .miImagen{
    content:url("/static/img/slider/pexels-photo-1552242.webp");
}
@media screen and (max-width: 800px) {
    .c-item {
        height:43vh;
      }
      
      .c-img {
        height: 100%;
        object-fit: cover;
        filter: brightness(0.6);
        width: 100%;
      }
      .col-wh{
        width: 100%;
        max-width: 95em;
    }
      
}