
{% extends 'layout.html' %}

{% block title %} Usuario{% endblock %}

{% block content %}
<div class="fondo-config">
    <br><br><br>
<section class="container-sm bg-dark opacity-cero-nueve top">
<div class="position-relative">
    <form class="row needs-validation"  novalidate action="{{url_for('envioContacto')}}" method="post">

        <div class="d-grid gap-9">
            <br>
            <legend class="text-center header alert alert-info col-12 p-3 border">Contacto</legend>
        </div>

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> 

        <center>
        <div>
            <div class="col-10">
                <label for="asunto-id"></label>
                <input id="asunto-id" name="asunto" type="text" placeholder="Asunto" class="form-control" required>
                <div class="valid-feedback">
                    Todo correcto                
                </div>
                <div class="invalid-feedback">
                    Es necesario poner el asunto
                </div>
            </div>
            
        </div>
        
        <div>
            <div class="col-10">
                <label for="mensaje-id"></label>
                <textarea id="mensaje-id" name="cuerpo" type="text" class="form-control col-6" placeholder="ingresar mensaje." rows="7" required></textarea>
                <div class="valid-feedback">
                    Todo correcto                
                </div>
                <div class="invalid-feedback">
                    Es necesario poner el mensaje
                </div>
            </div>
            
        </div>
    </center>
        <div >
        <br>
        <div class="row">
            <div class="col-1">            
            </div>                
            <div class="col-3">
                <button id="btn22" class="btn btn-primary m-3">Envíar</button>
            </div>
        </div>
        <br><br><br><br>
        </div>
        

    </form>

</div>
</section>
</div>
<script src="/static/js/sweetAlert.js"></script>
<script src="/static/plugins/sweetAlert2/sweetalert2.all.min.js"></script>
<script src="/static/popper/popper.min.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }        
        else {
            
            Swal.fire({            
            type: 'success',
            title: 'Tú mensaje ha sido enviado',
            showConfirmButton: false,
            timer: 2500 //el tiempo que dura el mensaje en ms
            });  
        }
        form.classList.add('was-validated')
        

        
      }, false)
    })
})()



</script>
{% endblock %}