{% extends 'layout.html' %}

{% block title %} Registro de usuario{% endblock %}

{% block content %}
<div class="fondo-config">  
    
    <div class="container-sm bg-dark text-light opacity-cero-nueve top">
        
            <div class="margin-form">
                <form  action="/registro" id = "formLogin" method="POST" onsubmit="return validacion()">
                    {% with messages = get_flashed_messages() %}

                    {% if messages %}
                    <br />
                    {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible" role="alert">
                        <strong>{{ message }}</strong>                
                    </div>
                    {% endfor %}
                    {% endif %}

                    {% endwith %}
                    <br>
                    <h3 class="text-center col-7">Registro</h3><br>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    
                    <div class="">
                        <label class="form-label">Nombre de usuario:</label>
                        <input type="text" class="form-control frm-wh" id="name" placeholder="Usuario" name="name">
                    </div>
                    
                    <div class="visually-hidden">
                        <label>Tipo Usuario:</label>
                        <select  class="form-control frm-wh" name= "tipo" >
                            <option selected>Estandar</option>
                            {% for tipo in tipo %}
                            <option value="{{tipo[1]}}" >{{tipo[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div >
                        <label class="form-label">Genero:</label>
                        
                        <select class="form-select frm-wh" name= "level">
                            <option></option>
                            
                            {% for int in level %}
                            <option value="{{int[0]}}">{{ int[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                        
                    <div >
                        <label class="form-label">Email:</label>
                        <input type="email" class="form-control frm-wh" id="email" name="email" >
                    </div>

                    <div >
                        <label class="form-label">Contraseña:</label>
                        <input type="password" class="form-control frm-wh" id="password" name="password">
                    </div>

                    <div >
                        <label class="form-label">repetir ontraseña:</label>
                        <input type="password" class="form-control frm-wh" id="pass2" name="pass2">
                    </div>
                    <div id="error"></div>

                    <div class="">
                        <br>
                        <button class="btn btn-primary m-3 " onclick="history.go(1)">Registrar</button>
                        <br><br><br>
                    </div>

                </form>

            

            </div>
        
    </div>
</div>
<script src="{{ url_for('static', filename='js/valAlta.js') }}"></script> 
{% endblock %}