
{% extends "layout.html" %}
{% block titulo %} usuarios {% endblock %}
{% block content %}

<section class="form-main">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Usuarios</h3>
            <a href="{{url_for('formulario_agregar_datos')}}" class="button is-success">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>DNI</th>
                        <th>Email</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for datos in datos %}
                    <tr>
                        <td>{{datos[1]}}</td>
                        <td>{{datos[2]}}</td>
                        <td>{{datos[3]}}</td>
                        <td>
                            {# Pasar el id (lo que hay en datos[0] #}
                            <a href="{{url_for('editar_usuario', id=datos[0])}}" class="css-button-shadow-border--green">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_usuario')}}" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="id" value="{{datos[0]}}">
                                <button class="css-button-shadow-border--red">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}