::-webkit-scrollbar { /*oculta el scroll*/
    display: none;
}

/* munu.html */
nav {
    background: #021222;
    height: 80px;
    position: relative;
}
.container {
    margin:  auto;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    line-height: 80px;
    z-index: 100;
}
.container-logo {
    margin-left: 20px;
    z-index: 100;
    cursor: pointer;
}
.container-logo h2 {
  color: #95bdd8;
  font-weight: 300;
  font-size: 35px;
  letter-spacing: 2px;
}
.container-logo h2 span {
    color: #0590ec;
    font-weight: 700;
}
.lins .lin {
   display: inline-block; 
}
.lins .lin a {
   text-decoration: none;
   color: #d1faf4;
   font-size: 20px;
   margin: 0 25px;
   letter-spacing: 3px;
   transition: .3s;
}
.lins .lin a:hover {
    color: #487abb;
}



.toggle {
    color: #d1faf4;
    margin-right: 20px;
    font-size: 30px;
    transform: rotate(90deg);
    cursor: pointer;
    transition:  .3s;
    display: none;
}

.rotate { /* la posicion en cascada de este elemento determina su funcinamiento */
    transform: rotate(180deg);
}





@media screen and (max-width: 800px) { /* al achicar la pantalla mas de 800 px se muestra el icono-menu */
    .toggle {
        display: inline-block;
    }
    .links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #021222;
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 80px);
        width: 100%;
        z-index: -1; /*oculta menu alachicar la pantalla */
        top: -100vh; /* oculta el menu desplegable */
        transition: .3s;
    }
    .active {
        top: 80px;
    }

    .lins .lin:hover { /* fondo al menu desplegable, :hover para que qede al pasar el mouse  */
        background: #051c38;
    }
    

}

:root{
    /* colores a utilizar */
    --green: hsl(162, 45%, 56%);
    --lead: hsl(162, 2%, 56%);
    --blue: hsl(220, 85%, 57%);
    --violet: hsl(272, 92%, 32%);
    /* color de texto */
    --text-while: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 90%);
    --body-bg-color: hsl(201, 61%, 23%); /* color del body */
    --glass-bg-color: hsla(0, 0%, 100%, 0.25);
    --border-color: hsla(0, 0%, 100%, 0.25);
    --blur: blur(10px); /* dar desenfoque gauciano a determinado elemento */
    --button_hover-color: hsla(0, 0%, 0%, 0.3); /* cambia color de boton al pasar cursor */
    --button_hover-color2: hsla(0, 26%, 95%, 0.3); /* cambia color de boton al pasar cursor */
}

/* estilos universales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* estilo a boton inicio sesión */ 
.form-content .brn{
    height: 35px; /* ancho boton */
    width: 70%; /* ancho del boton */
    font-size: 16px; /* tamaño de fuente */
    font-weight: 500;
    text-transform: capitalize; /* forzado a que la primera letra sea mayuscula */
    font-family: inherit; /* ereda fuente de el padre */
    cursor: pointer; /* aparece la manito en el boton */
    border-radius: 9px; /* redondeado bordes */
    user-select: none;
    background: linear-gradient(to right, var(--blue), var(--lead)); /* color fondo boton */
    border: none; /* sin bordes */
    color: var(--text-while);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

